<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table,
      td {
        border: 1px solid black;
      }

      .btn {
        border: none;
      }
    </style>

    <title>Users</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
      </tr>

      <% for(user of users) { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td class="btn">
          <form action="/users/<%= user.id %>/edit" method="get">
            <button>Edit Username</button>
          </form>
        </td>
        <td class="btn">
          <form action="/users/<%= user.id %>?_method=DELETE" method="post">
            <button>Delete User Data</button>
          </form>
        </td>
      </tr>
      <% }%>
    </table>
  </body>
</html>
